*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
}

#product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

label {
    font-style: oblique;
    font-size: 14px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
}

button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

h2 {
    text-align: center;
    padding: 20px;
}

#product-list {
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th,td {
    padding: 10px;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 13px;
    width: 25%;
}

th{
    background-color: beige;
    
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

#buttons button {
    font-size: 10px;

}
